/***Stroke*/
nav ul a,
nav ul a:after,
nav ul a:before {
  transition: all 0.5s;
}
nav ul a:hover {
  color: #023e8a;
}

/* stroke */
nav.stroke ul a,
nav.fill ul a {
  position: relative;
}
nav.stroke ul a:after,
nav.fill ul a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background:  #023e8a;
  height: 1px;
}
nav.stroke ul a:hover:after {
  width: 100%;
}

nav.fill ul a {
  transition: all 2s;
}

nav.fill ul a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/*Toogle*/
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  width: 50px;
}

.burguer_icon {
  font-size: 2rem;
  color: white;
}

.close_icon {
  font-size: 2.5rem;
  color: black;
}


/*Button hover effect*/
.cta {
  position: relative;
  margin-right: auto;  /*veio com margin_auto deafult pa centrar*/
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #4ab8da;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }