/***Stroke*/
nav ul .btn_nav a,
nav ul .btn_nav a:after,
nav ul .btn_nav a:before {
  transition: all 0.5s;
}
nav ul .btn_nav a:hover {
  color: black;
}

/* stroke */
nav.stroke ul .btn_nav a,
nav.fill ul .btn_nav a {
  position: relative;
}
nav.stroke ul .btn_nav a:after,
nav.fill ul .btn_nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: black;
  height: 1px;
}
nav.stroke ul .btn_nav a:hover:after {
  width: 100%;
}

nav.fill ul .btn_nav a {
  transition: all 2s;
}

nav.fill ul .btn_nav a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul .btn_nav a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul .btn_nav a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/*Toogle*/
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  width: 50px;
}

.burguer_icon {
  font-size: 2rem;
  color: white;
}

.close_icon {
  font-size: 2.5rem;
  color: black;
}
